	/*font-family: 'Playfair Display', serif;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Inconsolata', monospace;*/
	
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Playfair Display', serif;
	color: #626262;
}
/*header start*/
header{
	padding: 25px 0;
    /*border: 1px solid red;*/
}

.wrapper {
	overflow: hidden;
	width: 90%;
	/*border: 1px solid red;*/
	margin: 0 auto;
}

.logo {
	width: 17%;
	/*border: 1px solid orange;*/
	float: left;
}

.logo img{
	width: 100%;
}

.menu {
	width: 60%;
	/*border: 1px solid orange;*/
	float: right;
	margin-top: 11px;
}

.menu ul{
	float: right;
}


.menu ul li {
	list-style: none;
	float: left;
}

.menu ul li a{
    /*font-weight: 400;*/
   /* font-size: 16px;*/
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
   	transition: 1s;
    padding: 0 50px;
    display: block;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: black;
}

/*header end*/
/*banner start*/
.banner {
}

.b_image {
}

.b_image img{
	width: 100%;
}
/*banner end*/
/*getway start*/
.getway {
	padding-top: 50px;
    padding-bottom: 60px;
}

.wrapper2 {
	width: 80%;
	/*border: 1px solid red;*/
	margin: 0 auto;
	overflow: hidden;
}

.g_content {
}

.c_light{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #b4ad9e;
	text-transform: uppercase;
}

.c_title{
    font-weight: 400;
    font-size: 30px;
	margin-top: 20px;
    margin-bottom: 30px;
}

.c_text{
	line-height: 28px;
    word-spacing: 3px;
    margin-bottom: 40px;
}
/*getway end*/
/*blog start*/
.blog{
	padding-top: 50px;
    padding-bottom: 60px;
}
.b_single{
	width: 48%;
	/*border: 1px solid red;*/
	float: left;
}
.b_single img{
	width: 100%;
	margin-bottom: 20px;
}
.b_single:nth-child(even){
	margin-left: 4%;
}
/*newsletter start*/
.newsletter {
	background-color: #F0F0F0;
	padding: 50px 0;
}

.wrapper3 {
	width: 60%;
    /*border: 1px solid red;*/
    margin: 0 auto;
}

.n_content {
	text-align: center;
}

.n_content h1{
	font-size: 30px;
    margin-bottom: 65px;
}
.for_from {
	width: 408px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: relative;
}

.for_from input{
	font-size: 18px;
	border: none;
    background: transparent;
    width: 320px;
    border-bottom: 1px solid black;
    padding: 10px 50px 10px 10px;
}

.for_from button{
	border: none;
    background: transparent;
    position: absolute;
    top: 15px;
    right: 15px;
}

.for_from img{
}
/*newsletter end*/
/*blog2 start*/

.b2_button{
    padding: 15px 30px;
    margin-top: 80px;
    margin-bottom: 140px;
    margin-left: 42%;

}
.b2_button a{
	font-size: 20px;
    color: #626262;
    text-decoration: none; 
    display: block;
}
/*blog2 end*/
/*footer start*/
footer{
	background-color: #F0F0F0;
	padding: 35px 0;
}
.terms{
	width: 30%;
    /*border: 1px solid blue;*/
    float: left;
}
.terms ul{}
.terms ul li,.follow ul li{
	float: left;
	list-style: none;
}
.terms ul li a,.follow ul li a{
	color: black;
    padding: 0 10px;
    text-decoration: none;
    display: block;
}
.follow{
	width: 20%;
    /*border: 1px solid blue;*/
    float: right;
}
.follow ul{
	float: right;
}
/*.follow ul li{
	float: left;
	list-style: none;
}*/
/*.follow ul li a{
	color: black;
    padding: 0 10px;
    text-decoration: none;
    display: block;
}*/
.follow ul li a img{}
.follow ul li:last-child a{
	padding-right: 0;
}
/*footer end*/